<h1>Group Page: {{ group.name }}</h1>

<p>Here we'll show all the groups that the signed in user belongs to. We'll eventually link to a page that shows the other members in the group (and distinguish the people that they can match with for gift exchange.)</p>

<h2>Members:</h2>
{% if memberships %}
	<ul>
	{% for member in memberships %}
		{{ member.user.username }} 
		{% if member.isAdmin == True %} 
			(Admin)
			{% if request.user == member.user %}
				<form id="delete" style="display: inline;" action="{% url 'namedrawing:deletegroup' groupid=group.id %}" method="POST">
					{% csrf_token %}
					<button class="btn btn-info btn-outline-primary mt-1"><i class="fa fa-trash-o"></i>Delete</button>
				</form>
			{% endif %}
		{% endif %}
		<br>
	{% endfor %}
	</ul>
{% else %}
	<p>No users available are available.</p>
{% endif %}

<p><a href = "{% url 'namedrawing:profile_get' %}">Return to Profile Page</a></p>

<p><a href = "{% url 'logout' %}">logout</a></p>