
{% include "navbar.html" %}    

<h1>Profile Page: {{ username }}</h1>
<div class="basic">

</div>
<p>here, we'll set up the user profile, allow them to create a new group, see the groups that they've created, etc</p>



<!-- Group names -->
{% if groups %}
	<ul>
	{% for id, name in groups.items %}
		<a href = "{% url 'namedrawing:showgroup' groupid=id %}"> {{name}} </a>
		<br>
	{% endfor %}
	</ul>
{% else %}
	<p>No groups are available.</p>
{% endif %}

<!--<p><a href = "{% url 'namedrawing:newgroup_get' %}">New Group</a></p>-->