
{% include "bootstrap_cdn.html" %}

<!-- nav bar -->
</br>
        <div class="navbar navbar-default navbar-static-top 
        {% block nav-style %}{% endblock %}">
            <div class="container p-none">
                    <!-- buttons or links below -->
                        <a class="navbar-brand" href = "{% url 'namedrawing:profile_get' %}">Home</a>
                        <a class="navbar-brand" href = "{% url 'namedrawing:newgroup_get' %}">New Group</a>
                        <a class="navbar-brand" href = "{% url 'logout' %}">Logout</a>
                </nav>
            </div>
        </div>
</header>

